WebClient/Service References/CriminalServiceReference/CriminalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebClientContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebClientContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Criminal">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeMax" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AgeMin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HieghtMax" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="HieghtMin" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="tns:Nationality" />
      <xs:element minOccurs="0" name="NationalityID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightMax" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WeightMin" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Criminal" nillable="true" type="tns:Criminal" />
  <xs:complexType name="Nationality">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NationalityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nationality" nillable="true" type="tns:Nationality" />
  <xs:complexType name="ArrayOfCriminal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Criminal" nillable="true" type="tns:Criminal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriminal" nillable="true" type="tns:ArrayOfCriminal" />
</xs:schema>