WebClient/Service References/CriminalServiceReference/CriminalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CriminalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd3" namespace="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" />
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebClientContracts" />
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF" />
      <xsd:import schemaLocation="http://localhost:7742/CriminalService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICriminalService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_Create_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_GetCriminals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCriminals" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_GetCriminals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCriminalsResponse" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_GetCriminals_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_SearchCriminals_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCriminals" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_SearchCriminals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCriminalsResponse" />
  </wsdl:message>
  <wsdl:message name="ICriminalService_SearchCriminals_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.microsoft.com/practices/EnterpriseLibrary/2007/01/wcf/validation" name="detail" element="q3:ValidationFault" />
  </wsdl:message>
  <wsdl:portType name="ICriminalService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ICriminalService/Create" message="tns:ICriminalService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICriminalService/CreateResponse" message="tns:ICriminalService_Create_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICriminalService/CreateValidationFaultFault" name="ValidationFaultFault" message="tns:ICriminalService_Create_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCriminals">
      <wsdl:input wsaw:Action="http://tempuri.org/ICriminalService/GetCriminals" message="tns:ICriminalService_GetCriminals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICriminalService/GetCriminalsResponse" message="tns:ICriminalService_GetCriminals_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICriminalService/GetCriminalsValidationFaultFault" name="ValidationFaultFault" message="tns:ICriminalService_GetCriminals_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCriminals">
      <wsdl:input wsaw:Action="http://tempuri.org/ICriminalService/SearchCriminals" message="tns:ICriminalService_SearchCriminals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICriminalService/SearchCriminalsResponse" message="tns:ICriminalService_SearchCriminals_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICriminalService/SearchCriminalsValidationFaultFault" name="ValidationFaultFault" message="tns:ICriminalService_SearchCriminals_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CriminalService" />
</wsdl:definitions>