WebClient/Service References/NationalityServiceReference/NationalityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7742/NationalityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebClientContracts" />
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebClientContracts" minOccurs="0" name="Nationality" nillable="true" type="q1:Nationality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNationalitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebClientContracts" minOccurs="0" name="GetNationalitiesResult" nillable="true" type="q2:ArrayOfNationality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>