WebClient/Service References/NationalityServiceReference/NationalityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebClientContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebClientContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Nationality">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NationalityName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Nationality" nillable="true" type="tns:Nationality" />
  <xs:complexType name="ArrayOfNationality">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Nationality" nillable="true" type="tns:Nationality" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNationality" nillable="true" type="tns:ArrayOfNationality" />
</xs:schema>